*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    background:#0f172a;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.login-card{

    width:420px;

    background:#1e293b;

    padding:45px;

    border-radius:20px;

    text-align:center;

    border:1px solid rgba(255,255,255,.08);

}

.login-logo{

    width:90px;

    margin-bottom:20px;

}

.login-card h1{

    margin-bottom:8px;

}

.login-card p{

    color:#94a3b8;

    margin-bottom:30px;

}

.input-group{

    margin-bottom:20px;

    text-align:left;

}

.input-group label{

    display:block;

    margin-bottom:8px;

}

.input-group input{

    width:100%;

    padding:15px;

    border:none;

    outline:none;

    border-radius:10px;

    background:#0f172a;

    color:white;

}

.login-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#fbbf24;

    color:black;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.login-btn:hover{

    transform:translateY(-2px);

}

.message{

    margin-top:20px;

    color:#f87171;

}